
        <div role="tabpanel" class="tab-pane fade in active" id="nieocenione">
          <script>
            $(document).ready(function() {
              $('#unrated').DataTable( {
                "bStateSave": true,
                initComplete: function () {
                  this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo( $(column.footer()).empty() )
                        .on( 'change', function () {
                          var val = $.fn.dataTable.util.escapeRegex(
                              $(this).val()
                          );

                          column
                              .search( val ? '^'+val+'$' : '', true, false )
                              .draw();
                        } );

                    column.data().unique().sort().each( function ( d, j ) {
                      if(column.search() === '^'+d+'$'){
                        select.append( '<option value="'+d+'" selected="selected">'+d+'</option>' )
                      } else {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                      }
                    } );
                  } );
                }
              } );
            } );
          </script>
          <br>
          <table class="table table-striped" id="unrated">
            <thead>
              <tr>
                <th>Student</th>
                <th>Grupa</th>
                <th>Lekcja</th>
                <th>Ćwiczenie</th>
                <th>Godzina przysłania</th>
                <th>Pokaż</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Student</th>
                <th>Grupa</th>
                <th>Lekcja</th>
                <th>Ćwiczenie</th>
                <th>Godzina przysłania</th>
                <th>Pokaż</th>
              </tr>
            </tfoot>
          
            <tbody>
              <% @answers.each do |answer| %>
                <tr>
                  <%@exercise = Exercise.find(answer.exercise_id)%>
                  <td><%= answer.student.name %> <%= answer.student.lastname %></td>
                  <td><%= answer.student.group.name %></td>
                  <td><%= @exercise.level %></td> 
                  <td><%= @exercise.number %></td>
                  <td><%= answer.updated_at.in_time_zone("Warsaw").strftime("%Y-%m-%d %H:%M:%S")%></td>
                  <td><%= link_to 'Pokaż', answer , :class =>"btn btn-primary"%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          </div>